*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
}

.container-header {
    display:block;
    background-color: #520000;

}

.header{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

/*  
    ****nota importante **** 
    *** Centrar el contenido de un flex que ya tiene un justify ***
    **"margin 0 auto" funciona en un "display:flex" que esta usando "justify-content: space-between;", si el padre es "display:block" **
    *esto tambien permite que el "flex grow shrink basis" siga funcionando*
*/ 

.box-logo-links-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.box-links-header{
    display: flex;
    gap: 18px;
}

.box-links-header a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.img-logo-header{
    width: 75px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 1px 6px;
}

.box-title-img-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 80px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.header .box-title-img-header img{
    width: 250px;
    height: auto;
}

.box-title-header h1{
    display: flex;
    width: 350px;
    font-size: 48px;
    font-weight: 900;
}

.box-title-header p{
    display: flex;
    width: 400px;
    font-size: 18px;
}

.box-title-header button{
    background-color: #780000;
    color: white;
    width: 120px;
    padding: 6px 18px;
    border-radius: 10px;
    border: 2px solid #290000;
    font-size: 14px;
    font-weight: 700;
}

.box-title-header{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* Termina el Header, comienza section1 */

.container-section1{
    display: block;
}

.section1{
    display: flex;
    flex-direction: column;
    max-width: 900px;          /* NOTA: Se debe usar max-width, no width, para que el flex sea responsivo  */ 
    height: auto;
    margin: 0 auto;
    margin-bottom: 70px;
}

.box-characters-section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title-section1{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.characters-section1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.characters-section1 p{
    max-width: 150px;
    text-align: center;
}

.characters-section1 img{
    border: 2px solid #520000 ;
    border-radius: 10px;
    width: 150px;
}

/* Termina section1, comienza section2 */ 

.container-section2{
    display:block;
    background-color: #E5E7EB;
}  

.section2{
    max-width: 900px;
    margin:0 auto;
    padding: 90px 0px; 
}

.p1-section2{
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
}

.p2-section2{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 900;
    padding: 20px;
}


/* Termina section2, comienza section3 */ 

.container-section3{
    display: block;
    background-color: white;

}

.section3{
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
    max-width: 900px;
    justify-content: space-around;
    margin: 110px auto;
    background-color: #780000;
    border-radius: 10px;
}

.box-p-section3{
    display: flex;
    flex-direction: column;
    gap: 6px
}

.p1-section3{
    font-size: 30px;
    font-weight: 900;
}
.p2-section3{
    font-size: 16px;
    font-weight: 200;
}

.button-section3 button{
    background-color: #780000;
    color: white;
    border: 2px solid white;
    padding: 6px 30px;
    font-size: 14px;
    border-radius: 10px;
}

/* Termina section3, comienza footer */ 

